body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
}
